DigitalBank/DigitalBankWCF.Presentation/Connected Services/ServiceDigitalBk/Api1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DigitalBankWCF.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DigitalBankWCF.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginJWT">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginJWT" nillable="true" type="tns:LoginJWT" />
</xs:schema>