DigitalBank/DigitalBankWCF.Presentation/Connected Services/ServiceDigitalBk/Api3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DigitalBankWCF.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DigitalBankWCF.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TokenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAuthenticated" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TokenResponse" nillable="true" type="tns:TokenResponse" />
</xs:schema>